.news-outputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 786px) {
  .news-outputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
