nav{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns : 60% 40%;
    align-items: center;
    padding: 0px 20px;
}
.logo{
    color: red;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
.activeLink{
    color: yellow;
    border-bottom: 2px solid red;
}