.navbar{
    width: 100%;
}
nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.logo{
    color: red;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
.activeLink{
    color: yellow;
    border-bottom: 2px solid red;
}