body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* navbar styles */
nav {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 0px 20px;
}
.logo {
  color: red;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
.activeLink {
  color: yellow;
  border-bottom: 2px solid red;
}

/* news/headlines styles */
.main-page {
  width: 100%;
}
.page__name {
  padding: 0px 40px;
}
.news-outputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 40px;
  gap: 25px;
}

@media (max-width: 786px) {
  .news-outputs {
    justify-content: center;
    align-items: center;
  }
  .grid {
    margin: 0 auto;
  }
}
